OPENAI_API_KEY=votre_cle_openai_ici
TAVILY_API_KEY=votre_cle_tavily_ici

DATABASE_NAME=database.db

DATABASE_URL=postgresql://user:password@localhost:5432/mon_projet_analyste

PORT=8000
HOST=127.0.0.1